@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

.container p {
  font-weight: bold;
  margin-bottom: 20px;
}

.item-header {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}

.item {
  color: #ffffff; /* Texto blanco general */
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  border-radius: 4px;
}

.negro { background-color: black; }
.teal { background-color: teal; }
.blue { background-color: blue; }
.navy { background-color: navy; }
.lime { background-color: lime; color: black; } /* Texto negro para que se lea bien */
.white { background-color: white; color: black; border: 1px solid #ccc; }
.purple { background-color: purple; }
.yellow { background-color: yellow; color: black; }
.olive { background-color: olive; }
.red { background-color: red; }
.maroon { background-color: maroon; }
.gray { background-color: gray; }
.olivedrab { background-color: olivedrab; }
.deep-sky-blue { background-color: deepskyblue; }
.fuchsia { background-color: fuchsia; }
.green { background-color: green; } 

.grid-colores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item-header {
  grid-column: 1 / -1;
}

.green {
  grid-column: span 3;
}

@media (min-width: 600px) {
  .grid-colores {
    grid-template-columns: repeat(4, 1fr);
  }
  .green {
    grid-column: span 1;
  }
}

@media (min-width: 1024px) {
  .grid-colores {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }
  
  .green {
    grid-column: span 3;
  }
}


